body {
  background: url(../img/index_bg2.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

p {
  color: #fff;
  text-align: center;
  width: 100%; /* Ensure full width */
}

.pd-text {
  color: #fff;
  position: absolute;
  left: 40px;
}

.wlc-msg {
  font-size: 64px;
}

.logout {
  padding: 15px;
  color: #000;
  background: #fff;
  border-radius: 15px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.logout:hover {
  background: #dfdfdf;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.search_pokemon,
.search_button {
  display: inline-block;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  border: none;
}

.search_button:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  flex: 1;
}

.pokemon {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
}

.pokemon-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.pokemon-image {
  max-width: 100px;
  max-height: 100px;
}

.leader_board {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leader_board,
.leader_board-data {
  background: #fff;
  width: 200px;
  text-align: center;
  margin: 0 10px;
}

.leader_board-data {
  background: #000;
  color: #fff;
  padding: 2px;
}

.leader_board-names {
  background: #fff;
  color: #000;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leader_board-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center content horizontally */
}
