
.error {
    color: red;
}

    .Regisform {
        width: auto;
        height: auto;
        margin: auto;
    }
    body {
        background-image : url("../pokedexxxxx.png");
        background-size: cover;
        background-repeat: no-repeat;
    }